body {
  font-family: Times, serif;
  padding: 20px;
  background-color: white;
  color: #000;
  margin: 2em
  font-style:normal;
}
.Ficus{
  margin: .5px;
  position: center,;
  text-align: left;
  padding: 10px 45px 10px 80px;
  width: 70%;
  font-style: normal;
  color: #000000;
}
<!---.normal{
  background-image:
  url("https://blogs-images.forbes.com/rosatrieu/files/2014/08/Valencia_market_-_lemons-1940x1454.jpg");
  background-position: center;
  background-size: cover;
  opacity: 25%;
  margin:0;
  padding:0;
  font-style: normal;
}>
.box {
padding:20px;

}

a {
  color: #f9b509;
}

img {
  width: 100%;
  max-width: 900px;
}
.mathew {
margin: .5px;
position: center,;
text-align: left;
padding: 10px 45px 10px 80px;
width: 70%;
font-style: normal;


}

.canio{
  font-style: normal;
  text-indent: inherit;
  position: center
}

.bios{

  font-style: normal;

}
